In [1]:
import pandas as pd
df=pd.read_csv('IMDB-Movie-Data.csv')
print(df)

     Rank                    Title                     Genre  \
0      55          The Dark Knight        Action|Crime|Drama
1      81                Inception   Action|Adventure|Sci-Fi
2     118                   Dangal    Action|Biography|Drama
3      37             Interstellar    Adventure|Drama|Sci-Fi
4      97            Kimi no na wa   Animation|Drama|Fantasy
..    ...                      ...                       ...
995   969                  Wrecker    Action|Horror|Thriller
996   648                 Tall Men   Fantasy|Horror|Thriller
997    43  Don't Fuck in the Woods                    Horror
998   872     Dragonball Evolution  Action|Adventure|Fantasy
999   830           Disaster Movie                    Comedy

              Director                                             Actors  \
0    Christopher Nolan  Christian Bale| Heath Ledger| Aaron Eckhart|Mi...
1    Christopher Nolan  Leonardo DiCaprio| Joseph Gordon-Levitt| Ellen...
2        Nitesh Tiwari  Aamir Khan| Sakshi Tanwar| Fatima Sana Shaikh|...
3    Christopher Nolan  Matthew McConaughey| Anne Hathaway| Jessica Ch...
4       Makoto Shinkai  Ryunosuke Kamiki| Mone Kamishiraishi| Ryo Nari...
..                 ...                                                ...
995     Micheal Bafaro  Anna Hutchison| Andrea Whitburn| Jennifer Koen...
996  Jonathan Holbrook  Dan Crisafulli| Kay Whitney| Richard Garcia| P...
997      Shawn Burkett  Brittany Blanton| Ayse Howard| Roman Jossart|N...
998         James Wong  Justin Chatwin| James Marsters| Yun-Fat Chow| ...
999    Jason Friedberg  Carmen Electra| Vanessa Lachey|Nicole Parker| ...

     Year  Runtime (Minutes)  Rating    Votes  Revenue (Millions)  Metascore
0    2008                152     9.0  1791916              533.32       82.0
1    2010                148     8.8  1583625              292.57       74.0
2    2016                161     8.8    48969               11.15        NaN
3    2014                169     8.6  1047747              187.99       74.0
4    2016                106     8.6    34110                4.68       79.0
..    ...                ...     ...      ...                 ...        ...
995  2015                 83     3.5     1210                 NaN       37.0
996  2016                133     3.2      173                 NaN       57.0
997  2016                 73     2.7      496                 NaN        NaN
998  2009                 85     2.7    59512                9.35       45.0
999  2008                 87     1.9    77207               14.17       15.0

[1000 rows x 11 columns]

In [2]:
#第一題
#Top‐3 movies with the highest ratings in 2016? 
#print(df.columns)
#抓取
df[['Title', 'Year','Rating']]
df1=df[['Title','Rating']][df['Year'] ==2016]
#print(df1)
#找出前三大
top3=df1.nlargest(3,'Rating')
#print(top3)
print('top1',top3.iloc[0][0])
print('top2',top3.iloc[1][0])
print('top3',top3.iloc[2][0])

top1 Dangal
top2 Kimi no na wa
top3 Koe no katachi

In [3]:
#第二題
#The actor generating the highest average revenue? 
df2=df[['Actors','Revenue (Millions)']]
df2.fillna(0.0,inplace=True)
df2[['actor1','actor2','actor3','actor4']]=df2.Actors.str.split('|',expand=True)
#print(df2)
#將actors,revenue 變成一個dataframe
new=pd.DataFrame({'actors':df2['actor1'],
                 'revenue':df2['Revenue (Millions)']})
new1=pd.DataFrame({'actors':df2['actor2'],
                 'revenue':df2['Revenue (Millions)']})
new2=pd.DataFrame({'actors':df2['actor3'],
                 'revenue':df2['Revenue (Millions)']})
new3=pd.DataFrame({'actors':df2['actor4'],
                 'revenue':df2['Revenue (Millions)']})
new=new.append(new1,ignore_index=True)
new=new.append(new2,ignore_index=True)
new=new.append(new3,ignore_index=True)
#print(new)
#找出最大值
new1=new.groupby('actors').mean()
top1=float(new1.max())
d1=new1.to_dict()
var1=d1['revenue']
#print(var1)
newvar1={v:k for k,v in var1.items()}
#print(newvar1)
#print(top1)
print('The actor generating the highest average revenue? ',newvar1[top1])

The actor generating the highest average revenue?  Daisy Ridley

C:\Users\user\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
C:\Users\user\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [8]:
#第三題
#The average rating of Emma Watson’s movies?
df4=df[['Actors','Rating']]
df4[['actor1','actor2','actor3','actor4']]=df4.Actors.str.split('|',expand=True)
#將actor,rating變成一個 dataframe
n=pd.DataFrame({'actors':df4['actor1'],
                 'rating':df4['Rating']})
n1=pd.DataFrame({'actors':df4['actor3'],
                 'rating':df4['Rating']})
n2=pd.DataFrame({'actors':df4['actor4'],
                 'rating':df4['Rating']})
n3=pd.DataFrame({'actors':df4['actor2'],
                 'rating':df4['Rating']})
#print(n)
n=n.append(n1,ignore_index=True)
n=n.append(n2,ignore_index=True)
n=n.append(n3,ignore_index=True)

emmas=n.groupby('actors').get_group(' Emma Watson')
print('The average rating of Emma Watson’s movies?',emmas['rating'].mean())

                  actors  rating
0         Christian Bale     9.0
1      Leonardo DiCaprio     8.8
2             Aamir Khan     8.8
3    Matthew McConaughey     8.6
4       Ryunosuke Kamiki     8.6
..                   ...     ...
995       Anna Hutchison     3.5
996       Dan Crisafulli     3.2
997     Brittany Blanton     2.7
998       Justin Chatwin     2.7
999       Carmen Electra     1.9

[1000 rows x 2 columns]
The average rating of Emma Watson’s movies? 7.185714285714286

C:\Users\user\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [4]:
#第四題
#Top‐3 directors who collaborate with the most actors? 
df6=df.loc[:,['Director', 'Actors']]
df6[['actor1','actor2','actor3','actor4']]=df6.Actors.str.split('|',expand=True)
f=df.loc[:,['Director']]
F=f.drop_duplicates(subset='Director')
#print(df6)
pieces=[df6['Director'],df6['actor1'],df6['actor2'],df6['actor3'],df6['actor4']]
actors=pd.concat(pieces,axis=1)
#print(actors)
director_ac=actors.groupby('Director')

dict1={}
for i in F['Director'] :
    var3=actors.groupby('Director').get_group(i)
    var6=var3.loc[:,['actor1']]
    var6=var6['actor1'].append(var3['actor2'])
    var6=var6.append(var3['actor3'])
    var6=var6.append(var3['actor4'])
    data=pd.DataFrame(var6)
    #print(var5['actor1'])
    data.columns=['actors']
    var7=data.drop_duplicates(subset='actors')
    
    num_dir=var7['actors'].count()
    dict1.setdefault(i,num_dir)


df7=pd.DataFrame(list(dict1.items()),columns=['actors','num'])
df7=df7.sort_values(by='num',ascending=False)
top_3=df7.head(3)

print('Top‐3 directors who collaborate with the most actors? ')
print(top_3.iloc[0][0])
print(top_3.iloc[1][0])
print(top_3.iloc[2][0])
top_3

Top‐3 directors who collaborate with the most actors?
Ridley Scott
M. Night Shyamalan
Paul W.S. Anderson

                 actors  num
49         Ridley Scott   30
191  M. Night Shyamalan   24
445  Paul W.S. Anderson   21

In [14]:
##第五題
#Top‐2 actors playing in the most genres of movies? 
df5=df.loc[:, ['Actors', 'Genre']]

In [15]:
actors=df5['Actors']
for i in range(len(actors)):
    actors[i]=actors[i].split('|')

In [7]:
genres=df5['Genre']
for i in range(len(genres)):
    genres[i]=genres[i].split('|')

In [8]:
list1=[]
for l in range(len(actors)) :
    for i in range(len(actors[l])):
        for g in range(len(genres[l])):
            list1.append([actors[l][i],genres[l][g]])    
data=pd.DataFrame(columns=['actors','genres'])
for i in range(len(list1)) :
    data=data.append({'actors':list1[i][0],'genres':list1[i][1]},ignore_index=True)    

data=data.drop_duplicates()
dict3={}
for i in data['actors'] :
    var9=data.groupby('actors').get_group(i)
    num_=var9['genres'].count()
    
    dict3.setdefault(i,num_)    
df9=pd.DataFrame(list(dict3.items()),columns=['actors','num'])
df9=df9.sort_values(by='num',ascending=False)
top2=df9.head(2)

print(top2.iloc[0][0])
print(top2.iloc[1][0])

 Hugh Jackman
Jake Gyllenhaal

In [97]:
#第六題
#Top‐3 actors whose movies lead to the largest maximum gap of years?
acts_=df.loc[:,['Actors','Year']]

actors_=acts_['Actors']
years_=acts_['Year']

df_act=pd.DataFrame(columns=['actors','year'])


for i in range(len(actors_)) :
    actors_[i]=actors_[i].split('|')
    list3=[]
    for l in range(len(actors_[i])):
            actors_[i][l]=actors_[i][l].lstrip()
            
            df_act=df_act.append({'actors':actors_[i][l],'year':years_[i]},ignore_index=True)


max_=df_act.groupby('actors').max()
min_=df_act.groupby('actors').min()
piece5=[max_,min_]
summary_=pd.concat(piece5,axis=1)
summary_.columns=['max','min']
summary_['gap']=summary_['max']-summary_['min']
summary_=summary_.sort_values(by='gap',ascending=False)

summary_top1=summary_[summary_['gap']==summary_['gap'].max()]
print('Top‐3 actors whose movies lead to the largest maximum gap of years?')
for i in summary_top1.index :
    print(i)
#print(summary_top1.index,sep='/n')

C:\Users\user\AppData\Local\Temp/ipykernel_18216/1885561868.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  actors_[i]=actors_[i].split('|')

Jennifer Aniston
Toni Collette
Ben Kingsley
Tom Cruise
Tom Hanks
Ben Whishaw
Ellen Burstyn
Johnny Depp
Bob Balaban
Paula Patton
Brad Pitt
Morgan Freeman
Gerard Butler
Michelle Monaghan
Judi Dench
Justin Theroux
Owen Wilson
Jessica Biel
Emily Blunt
Sacha Baron Cohen
Steve Carell
Jack Davenport
Scarlett Johansson
Dustin Hoffman
Samuel L. Jackson
Anne Hathaway
Hugh Jackman
Rachel Weisz
Russell Crowe
Dominic West
Denzel Washington
Jennifer Connelly
Audrey Tautou
Jeremy Irons
Meryl Streep
Edward Norton
Bryce Dallas Howard
Kate Bosworth
Luke Wilson
Abbie Cornish
Kang-ho Song
Marion Cotillard
Chiwetel Ejiofor
Christopher Plummer
Will Smith
Mark Wahlberg
Kirsten Dunst
Will Ferrell
Matt Damon
Kevin Spacey
Christian Bale
Eva Green
Maya Rudolph